.squares {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@mixin square() {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: turquoise;
}

@mixin squareBg($color: aqua) {
  background: $color;
}

.square {
  @include square();
}

.square-magenta {
  @include squareBg(magenta);
}

.square-peru {
  @include squareBg(peru);
}

.square-purple {
  @include squareBg(purple);
}

.circles {
  width: 75%;
  border: 2px dotted brown;
  border-radius: 20px;
  margin: 0 auto;
}

.circle {
  border: 3px solid red;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: purple;
}

@mixin circle-bg($color: turquoise) {
  background-color: $color;
}

.circle-red {
  @include circle-bg(red);
}

.circle-green {
  @include circle-bg(green);
}

.circle-blue {
  @include circle-bg(blue);
}

.circle-border-blue {
  border-color: blue;
}
